html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150%;
    min-width: 500px;
    background-image: url("resources/background.png");
    background-repeat: repeat;
}

h2 {
    font-size: 30px;
    margin-left: 0.5em;
    color: #6c6c6c;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}


/* Header Elements */
.header {
    background-color:#49aee0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header > div {
    float: left;
    margin: 1%;
}

.header img {
    width: 8em;
}

.header h1 {
    font-size: 3em;
    line-height: 1em;
    color:#221d36;
}

.topbar {
    height: 221.217px;
}


/* Navigation Elements */
#navbar {
    background-color: yellow;
    height: 3em;
    display: table;
    width: 100%;
    align-items: center;
    z-index: 99;
}

#navbar > a {
    display: table-cell;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 1em;
    background-color: #e9e9e9;
    transition: 0.5s;
}
#navbar > a:link {
    color: #6c6c6c;
}

#navbar > a:visited {
    color: #6c6c6c;
}

#navbar > a:hover {
    background-color: #ffee9c;
    color: #444444;
}

#navbar > a:active {
    background-color: #f6d42d;
    color: #2b2b2b
}

.stickToTop {
    position: fixed;
    top: 0;
}


/* Main Elements */
main > img {
    width:100%;
}

.carrosel-arrow {
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
}
.carrosel-right {
    right: -50px;
    transform: translate(0,-400%)
}
.carrosel-left {
    left: -50px;
    transform: translate(0,320%);
    z-index:1;
}

.slick-list {
    height: 45em;
}

#about {
    width: 100%;
    padding: 1em;
    margin-top: 3em;
    margin-bottom: 3em;
}

#about > p {
    padding-right: 1em;
}

table {
    border-collapse: collapse;
    width: 80%;
    padding-top: 10em;
    margin-bottom: 10em;
}

td, th {
    border: 1px solid;
    text-align: left;
    padding: 1em;
    background-color: #ffffff;
}

th {
    background-color: #ffee9c;
}

.whoContainer {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 8em;
}

.whoContainer > div {
    border: 1px solid;
    margin: 0.5em;
    width: 22em;
    height: 50em;
    float: left;
    background-color: #ffffff;
    box-shadow: 0 5px 10px 0 rgba(36, 36, 36, 0.342);
}

.whoContainer > div > img {
    width: 22em;
    height: 32em;
}

.whoContainer > div h3 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.5em;
}

.whoContainer > div p {
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 0;
}

.serviceContainer {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20em;
}

.serviceContainer > div {
    background-color: #73d0ff;
    padding: 1em;
    border: 1px solid;
    width: 31em;
    text-align: center;
    float:left;
    margin: 1em;
    box-shadow: 0 5px 10px 0 rgba(36, 36, 36, 0.342);
}

.serviceContainer > div:first-child {
    background-color: #ffee9c;
}

.serviceContainer > div > h3 {
    margin-top: 0.5em;
    font-size: 2em;
}
.serviceContainer > div > p {
    font-size: 1.2em;
}


/* Footer Elements */
footer > div {
    background-color: #49aee0;
    text-align: center;
    padding: 1em;
}
footer > div > h3 {
    font-size: 1.5em;
}


/* Form Elements */
.formContainer {
    display: grid;
    grid-template-columns: 100%;
    gap: 1em;
    margin-top: 10em;
}

.formContainer > p {
    text-align: right;
}

input.gridItem {
    text-transform: uppercase;
}

input.gridItem[type="submit"] {
    width: 10em;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 640px) {
    .formContainer {
        grid-template-columns: 47.5% 47.5%; 
    }
}

.checklistItem {
    cursor: pointer;
    display: inline-block;
}

.checklistItem input[type="checkbox"] {
    display: none;
}

.checklistLabel {
    background-color: #cce4ff;
}

.checklistItem input[type="checkbox"]:checked + .checklistLabel {
    background-color: #e0cd1a;
    color:#000000;
    border:2px solid #9c8e10;
}

.checklistLabel {
    border: 2px solid #5690d3;
    color: #757575;
    display: block;
    padding: 7px 28px;
}

.leftPill {
    border-radius: 20px 0 0 20px;
}
.rightPill {
    border-radius: 0px 20px 20px 0px;
}

#errorText {
    margin-bottom: 35em;
    text-align: center;
}

/* Admin Page */
.centerLogin {
    margin-left: auto;
    margin-right: auto;
    width: 15em;
}

.leftAddUser {
    max-width: 15em;
}